canvas {
    border: 1px solid #d3d3d3;
    width: 100%;
    height: 110vh;
}

a:visited { 
    background-color:#000;
    color:white;
}

body {
    background-color: black;
}

a {
    font-size: 25px;
}